* {
	box-sizing: border-box;
}

:root, html, body {
	font-size: 16px;
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	flex: row wrap;
	justify-content: center;
	align-items: center;
}

body > div {
	flex: 1 0 100%;
	margin: 1em 0.5em;
}


h1 { text-align: center; }
