# Email Verification

Your e-mail ({{ email }}) has been registered in [Talakutnangan]({{ homePageURL }}).

Please click the button below to verify:
<a class="verify" href="{{ emailVerificationURL }}">Verify e-mail</a>

## Note
If the button above does not work properly, visit {{ emailVerificationURL }}
