<div class="box-column">
<h1>Email Verification</h1>

<p class="content">
    Your e-mail ({{ email }}) has been registered in <a class="home-page-url" href="{{ homePageURL }}">Talakutnangan.</a>
</p>

<p class ="content">Please click the button below to verify:</p>
<div class="line">
    <div class="buttons">
        <a class="button" href="{{ emailVerificationURL }}">Verify e-mail</a>
    </div>
</div>
<p class="note">Note</p>
<p class="note">If the button above does not work properly, visit {{ emailVerificationURL }}</p>
</div>
