.env					text eol=lf
.env.*				text eol=lf
*.md					text eol=lf
*.dot					text eol=lf
.git*					text eol=lf
*.json				text eol=lf
LICENSE*				text eol=lf
.editorconfig		text eol=lf
*.code-snippets	text eol=lf
*.js					text eol=lf
*.ts					text eol=lf
*.vue					text eol=lf
*.css					text eol=lf
*.html				text eol=lf
*.ps1					text eol=lf
*.yml					text eol=lf
.sequelizerc		text eol=lf
execute				text eol=lf
Procfile				text eol=lf
