{
	"folders": [
		// { "name": "root", 							"path": "." },
		// { "name": "shareable",						"path": "shareable" },
		// { "name": "shareable types",				"path": "shareable/types" },
		// { "name": "shareable helpers",			"path": "shareable/helpers" },
		// { "name": "shareable permissions",	 	"path": "shareable/permissions" },
		// { "name": "shareable namespace makers","path": "shareable/namespace_makers" },
		// { "name": "common front-end",				"path": "common_front-end" },
		// { "name": "pages",							"path": "pages" },
		// { "name": "renderer",						"path": "renderer" },
		// { "name": "components",						"path": "components" },
		// { "name": "helper components",			"path": "components/helpers" },
		// { "name": "page shell components",		"path": "components/page_shell" },
		// { "name": "field components",				"path": "components/fields" },
		// { "name": "consultation components",	"path": "components/consultation" },
		// { "name": "routes",							"path": "routes" },
		// { "name": "Enhancer routes",				"path": "routes/enhancer" },
		// { "name": "API routes",						"path": "routes/api" },
		// { "name": "Development routes",			"path": "routes/dev" },
		// { "name": "Test routes",					"path": "routes/t" },
		// { "name": "routes",							"path": "routes" },
		// { "name": "common back-end",				"path": "common_back-end" },
		// { "name": "back-end types",				"path": "common_back-end/types" },
		// { "name": "back-end errors",				"path": "common_back-end/errors" },
		// { "name": "back-end helpers",				"path": "common_back-end/helpers" },
		// { "name": "back-end singletons",			"path": "common_back-end/singletons" },
		// { "name": "back-end auth helpers",		"path": "common_back-end/auth" },
		// { "name": "server",							"path": "server" },
		// { "name": "server types",					"path": "server/types" },
		// { "name": "server helpers",				"path": "server/helpers" },
		// { "name": "bases",							"path": "server/bases" },
		// { "name": "middlewares",					"path": "server/middlewares" },
		// { "name": "app",								"path": "server/app" },
		// { "name": "policies",						"path": "server/policies" },
		// { "name": "validators",						"path": "server/validators" },
		// { "name": "validations",					"path": "server/validations" },
		// { "name": "rule sets",						"path": "server/rule_sets" },
		// { "name": "controllers",					"path": "server/controllers" },
		// { "name": "response information",		"path": "server/response_infos" },
		// { "name": "server CLI",						"path": "server/cli" },
		// { "name": "vite dev",						"path": "server/vite_dev" },
		// { "name": "web socket",						"path": "server/ws" },
		// { "name": "peer",								"path": "server/peer" },
		// { "name": "database",						"path": "database" },
		// { "name": "database types",				"path": "database/types" },
		// { "name": "database configuration",		"path": "database/configuration" },
		// { "name": "data source",					"path": "database/data_source" },
		// { "name": "seeders",							"path": "database/seeders" },
		// { "name": "migrations",						"path": "database/migrations" },
		// { "name": "models",							"path": "database/models" },
		// { "name": "transformers",					"path": "database/transformers" },
		// { "name": "queries",							"path": "database/queries" },
		// { "name": "managers",						"path": "database/managers" },
		// { "name": "test utilities",				"path": "t/helpers" },
		// { "name": "integration tests",			"path": "t/integration" }
	],
	"extensions": {
		"recommendations": [
			"lukashass.volar",
			"dbaeumer.vscode-eslint",
			"voorjaar.windicss-intellisense",
			"aaron-bond.better-comments",
			"qcz.text-power-tools"
		]
	},
	"settings": {
		"scss.lint.unknownAtRules": "ignore",

		"editor.tabSize": 3,
		"editor.insertSpaces": false,
		"editor.detectIndentation": false,
		"editor.renderWhitespace": "all",
		"editor.minimap.enabled": false,
		"files.insertFinalNewline": true,
		"files.trimFinalNewlines": true,
		"files.trimTrailingWhitespace": true,
		"files.exclude": {
			"**/.DS_Store": true,
			"**/.git": true,
			"**/.hg": true,
			"**/.svn": true,
			"**/CVS": true,
			"**/Thumbs.db": true,
			"**/dist": true,
			"**/node_modules": true
		}
	}
}
