{
	 "folders": [
		// { "name": "root", 							"path": "." },
		// { "name": "shareable",						"path": "shareable" },
		// { "name": "shareable helpers",			"path": "shareable/helpers" },
		// { "name": "shareable types",				"path": "shareable/types" },
		// { "name": "shareable permissions",	 	"path": "shareable/permissions" },
		// { "name": "renderer",						"path": "renderer" },
		// { "name": "common front-end",				"path": "common_front-end" },
		// { "name": "pages",							"path": "pages" },
		// { "name": "components",						"path": "components" },
		// { "name": "common back-end",				"path": "common_back-end" },
		// { "name": "back-end errors",				"path": "common_back-end/errors" },
		// { "name": "back-end auth helpers",		"path": "common_back-end/auth" },
		// { "name": "back-end helpers",				"path": "common_back-end/helpers" },
		// { "name": "back-end singletons",			"path": "common_back-end/singletons" },
		// { "name": "back-end types",				"path": "common_back-end/types" },
		// { "name": "database",						"path": "database" },
		// { "name": "database types",				"path": "database/types" },
		// { "name": "database configuration",		"path": "database/configuration" },
		// { "name": "data source",					"path": "database/data_source" },
		// { "name": "seeders",							"path": "database/seeders" },
		// { "name": "migrations",						"path": "database/migrations" },
		// { "name": "models",							"path": "database/models" },
		// { "name": "managers",						"path": "database/managers" },
		// { "name": "transformers",					"path": "database/transformers" },
		// { "name": "server",							"path": "server" },
		// { "name": "server CLI",						"path": "server/cli" },
		// { "name": "app",								"path": "server/app" },
		// { "name": "auth",								"path": "server/app/auth" },
		// { "name": "vite dev",						"path": "server/vite_dev" },
		// { "name": "server types",					"path": "server/types" },
		// { "name": "server helpers",				"path": "server/helpers" },
		// { "name": "bases",							"path": "server/bases" },
		// { "name": "middlewares",					"path": "server/middlewares" },
		// { "name": "response information",		"path": "server/response_infos" },
		// { "name": "common controllers",			"path": "server/common_controllers" },
		// { "name": "routes",							"path": "server/app/routes" },
		// { "name": "test utilities",				"path": "t/helpers" },
		// { "name": "integration tests",			"path": "t/integration" }
	 ],
	 "settings": {
		"editor.tabSize": 3,
		"editor.insertSpaces": false,
		"editor.detectIndentation": false,
		"editor.renderWhitespace": "all",
		"editor.minimap.enabled": false,
		"files.insertFinalNewline": true,
		"files.trimFinalNewlines": true,
		"files.trimTrailingWhitespace": true,
	}
}
