@import "./variables.scss";

.btn {
	@apply bg-gray-300;
	@apply dark:bg-dark-200;
	@apply text-black dark:text-white;
	padding: .5em 1em;
	text-transform: uppercase;
	font-size: small;
	cursor: pointer;

	&:disabled {
		opacity: 0.4;
		cursor: initial;
	}

	&.btn-primary {
		background-color: $color-primary;
	}

	&.btn-back {
		background-color: grey;
	}
}
