.error {
	margin: 1em 0;
	border-radius: 3px;
	padding: .25em 1em;

	background-color: $color-primary;
	color: white;
	font-size: smaller;
	width: fit-content;
}

ul.error {
	list-style-type: disc;
	width: 100%;

	li {
		@apply ml-3;
	}
}
