.status-messages {
	margin: 1em 0;
	border-radius: 3px;
	padding: .25em 1em;

	color: white;
	font-size: smaller;
	width: fit-content;

	&.error {
		@apply bg-red-500;
	}

	&.success {
		@apply bg-emerald-500;
	}
}

.success {

}

ul.error {
	list-style-type: disc;
	width: 100%;

	li {
		@apply ml-3;
	}
}
