.status-messages {
	@apply text-white;

	margin: 1em 0;
	border-radius: 3px;
	padding: .25em 1em;

	font-size: smaller;
	width: fit-content;

	&.error {
		@apply bg-red-600;
	}

	&.warning {
		$width: 5px;
		@apply border border-yellow-300 border-width-$width;

		@apply text-black dark:text-white;
	}

	&.success {
		@apply bg-emerald-500;
	}
}

ul.error {
	list-style-type: disc;
	width: 100%;

	li {
		@apply ml-3;
	}
}
