name: Web Back-end Integration Tests

on:
  push:
    paths:
      - 'shareable/**'
      - 'common_back-end/**'
      - 'database/**'
      - 'server/**'
      - 'routes/**'
      - 't/helpers/**'
      - 't/integration/api/**'
      - 't/integration/t/**'
      - '.github/workflows/back-end.intg.yml'
      - 'jest.back.intg.config.json'
  pull_request:
    types:
      - reopened
    branches:
      - master
    paths:
      - 'shareable/**'
      - 'common_back-end/**'
      - 'database/**'
      - 'server/**'
      - 'routes/**'
      - 't/helpers/**'
      - 't/integration/api/**'
      - 't/integration/t/**'
      - 'renderer/**'
      - 'pages/**'
      - 'components/**'
      - '.github/workflows/back-end.intg.yml'
      - 'jest.back.intg.config.json'

env:
  EMAIL_HOST: ${{ secrets.EMAIL_HOST }}
  EMAIL_PORT: ${{ secrets.EMAIL_PORT }}
  EMAIL_USER: ${{ secrets.EMAIL_USER }}
  EMAIL_PASS: ${{ secrets.EMAIL_PASS }}

jobs:
  integration_tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checking out from the pushed source
      uses: actions/checkout@v3
    - name: Testing on Node.js 16.x
      uses: actions/setup-node@v2
      with:
        node-version: 16.x
    # See https://github.com/actions/virtual-environments/blob/main/images/linux/Ubuntu2004-Readme.md#postgresql
    - name: Start database server
      run: sudo systemctl start postgresql.service
    - name: Create root database user
      run: sudo -u postgres psql -c "CREATE USER root WITH PASSWORD 'root';"
    - name: Create database
      run: |
        sudo -u postgres psql -c "CREATE DATABASE talakutnangan_test WITH OWNER = root;"
    - name: Use .env.ci as the environment file for back-end
      run: mv .env.ci .env
     - name: Cache node modules
       uses: actions/cache@v3
       with:
         path: ./node_modules
         key: ${{ runner.os }}_${{ hashFiles('package.json') }}
         restore-keys: |
           ${{ runner.os }}_${{ hashFiles('package.json') }}
    - run: npm install
    - run: ./execute.ps1 -database -upgrade
      shell: pwsh
    - run: ./execute.ps1 -database -reseed
      shell: pwsh
    - run: npm run build
    - run: ./execute.ps1 -test intg:back
      shell: pwsh
      timeout-minutes: 5
